<!DOCTYPE html>
html( lang="en" )
    head
        meta( charset="utf-8" )
        meta( http-equiv="X-UA-Compatible" content="IE=edge" )
        meta( name="viewport" content="width=device-width, initial-scale=1" )
        title CodeVisual Playground
        link( href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" )
        script( src="lib/jquery/jquery-3.2.1.min.js" )
        script( src="lib/jquery/jquery.mousecapture.js" )
        script( src="lib/bootstrap/js/bootstrap.min.js" )

        link( href="codevisual.css" rel="stylesheet" )
        script( src="codevisual.js" )
    body
        div.codevisual-player
            div.game-screen( style="display:none;" )
                canvas
                div.controls
                    div.control-button.play-stop-button
                        span.glyphicon.glyphicon-pause
                    div.control-button.fullscreen-button
                        span.glyphicon.glyphicon-fullscreen
                    div.control-button.settings-button
                        span.glyphicon.glyphicon-cog
                    div.tick-info
                        span.current-tick 0
                        | /
                        span.tick-count 0
                    div.timeline
                        div.timeline-background
                        div.timeline-loaded
                        div.timeline-position
                div.settings( style="display:none;" )
                    div.container-fluid
                        table.settings-container
            div.loading-screen
                div.loading-screen-container
                    h3 Please, wait
                    h4 loading
                    div.progress
                        div.resource-loading-progress-bar.progress-bar.progress-bar-stripped.active( role="progressbar" style="width:0;" )
            div.failed-screen( style="display:none;" )
                h3 Whoops...
                p.error-message Something went wrong

            table.setting-templates( style="display:none;" )
                tr.setting-template-boolean
                    td.name Setting name
                    td.input
                        input( type="checkbox" )
                tr.setting-template-number
                    td.name Setting name
                    td.input
                        input( type="range" )