<!DOCTYPE html>
html( lang="en" )
    head
        meta( charset="utf-8" )
        meta( http-equiv="X-UA-Compatible" content="IE=edge" )
        meta( name="viewport" content="width=device-width, initial-scale=1" )
        title CodeVisual Playground
        link( href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" )
        script( src="lib/jquery/jquery-3.2.1.min.js" )
        script( src="lib/jquery/jquery.mousecapture.js" )
        script( src="lib/bootstrap/js/bootstrap.min.js" )

        link( href="codevisual.css" rel="stylesheet" )
        script( src="codevisual.js" )
    body
        div.codevisual-player
            div.game-screen( style="display:none;" )
                canvas
                div.profiler-info( style="display:none;" )
                div.controls
                    div.control-button.play-stop-button( data-toggle="tooltip" data-placement="top" )
                        span.glyphicon.glyphicon-pause
                    div.control-button.fullscreen-button( data-toggle="tooltip" data-placement="top" title = "Go fullscreen" )
                        span.glyphicon.glyphicon-fullscreen
                    div.control-button.settings-button( data-toggle="tooltip" data-placement="top" title = "Settings" )
                        span.glyphicon.glyphicon-cog
                    div.control-button.help-button( data-toggle="tooltip" data-placement="top" title = "Help" )
                        span.glyphicon.glyphicon-question-sign
                    div.tick-info
                        span.current-tick( data-toggle="tooltip" data-placement="top" title = "Current tick" ) 0
                        | &nbsp;/&nbsp;
                        span.tick-count( data-toggle="tooltip" data-placement="top" title = "Tick count" ) 0
                    div.timeline
                        div.timeline-background
                        div.timeline-loaded
                        div.timeline-position-background
                        div.timeline-position
                div.settings.widget( style="display:none;" )
                    div.container-fluid
                        table.settings-container
                div.help.widget( style="display:none" )
                    div.container-fluid.content
            div.loading-screen
                div.loading-screen-container
                    h3 Please, wait
                    h4 loading
                    div.progress
                        div.resource-loading-progress-bar.progress-bar.progress-bar-stripped.active( role="progressbar" style="width:0;" )
            div.failed-screen( style="display:none;" )
                h3 Whoops...
                p.error-message Something went wrong

            table.setting-templates( style="display:none;" )
                mixin template(clazz)
                    tr( class="setting-template-" + clazz )
                        td.name Setting name
                        td.input
                            block
                        td.reset-td
                            span.reset.glyphicon.glyphicon-refresh( data-toggle="tooltip" data-placement="left" title = "Reset" )
                +template("boolean")
                    input( type="checkbox" )
                +template("number")
                    input( type="range" )